<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <mat-card appearance="outlined" class="text-center">
      <mat-card-content>
        <form [formGroup]="resetPasswordForm">
          <div class="row pt-5 pb-5">
            <div class="col-lg-5">
              <img src="assets/images/logo-small.png" alt="Logo" class="logo">
            </div>
            <div class="col-lg-7">
              <!-- Center the title -->
              <div class="text-center">
                <mat-card-title class="pb-4 fw-bold fs-2">{{ isFirstLogin ? 'Create Your Password' : 'Password Reset' }}</mat-card-title>
              </div>

              <!-- Rest of the login form -->
              @if (!isComplete) {
                <div>
                  <div>
                    @if (isInvalidAttempt) {
                      <mat-error class="mb-2">{{ errorMessage }}</mat-error>
                    }
                  </div>
                  <app-password-fields (confirmPasswordEnter)="resetPassword()"></app-password-fields>
                  <p></p>
                  <button mat-raised-button color="primary" class="w-75" (click)="resetPassword()">
                    Reset Password
                    @if (isSubmitting) {
                      <mat-icon iconPositionEnd
                        >
                        <mat-spinner color="accent" diameter="20"></mat-spinner>
                      </mat-icon>
                    }
                  </button>
                </div>
              }

              @if (isComplete) {
                <div>
                  <p>Password reset complete. Continue to <a [routerLink]="['/login']">login</a></p>
                </div>
              }

            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
