
mat-sidenav-container {  
  height: 100%;
  background: white;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: left; 
  flex: 1; 
}

.mat-mdc-list-item .fa-icon {
    font-size: 32px;
}

.mat-mdc-list-item span {    
    margin-left: 10px;
}

/* Set width of sidebar explicitly */
.sidenav-expanded {
  width: 250px !important;  
}

.sidenav-collapsed {
  width: 55px !important;  
}


.content-expanded {
  margin-left: 260px !important;    
}

.content-collpased {
  margin-left: 60px !important;  
}

.content-closed {
  margin-left: 0px !important;  
}


.disabled-item {
    color: #888;
}

.expand-button {
  /*border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  width: 95%;
  min-width: unset !important;*/
  display: flex;
  align-items: center;
  justify-content: center;
  $size: 25px;
  width: $size;
  height: $size;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 25%;
  bottom: 20px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  min-width: unset !important;

  &:hover {
    border: 2px solid rgb(36, 82, 231);
  }
}


.logo-sidenav {
    width: 100px;
}
