<div class="mt-4">
  <form [formGroup]="login2FaForm">

    <mat-form-field class="w-75">
      <mat-label>Authorization Code</mat-label>
      <input matInput #twoFaCodeInput formControlName="twoFaCode" required mask="000 000" (keyup.enter)="login2Fa()">
      <mat-error *ngIf="twoFaCode.invalid && (twoFaCode.dirty || twoFaCode.touched)" class="mb-2">
        Invalid 2FA code
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div class="mt-4">
  <button mat-raised-button color="primary" class="w-75" (click)="login2Fa()">Log In</button>
</div>

