<div class="m-3">
  <!--<h2>User - {{ user.email }}</h2>-->
  <h1>Account {{ user && !user?.isActive ? '- DEACTIVATED' : ''}}</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="icons.personal" class="me-2"></fa-icon>
        Personal
      </ng-template>
      <app-admin-personal-info *ngIf="user" [user]="user"></app-admin-personal-info>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="icons.security" class="me-2"></fa-icon>
        Password and Security
      </ng-template>
      <app-admin-security-info *ngIf="user && user.isActive" [user]="user"></app-admin-security-info>
    </mat-tab>
  </mat-tab-group>
</div>
