<mat-sidenav-container  class="mat-sidenav-container">
  <mat-sidenav #sidenav mode="side"
    [opened]="isLoggedIn"
    [disableClose]="true"
    class="bg-light"
    [ngClass]="isExpanded ? 'sidenav-expanded' : 'sidenav-collapsed'">
    <mat-nav-list class="">
      @if (isExpanded) {
        <div class="d-flex justify-content-center mt-3 mb-2">
          <img src="/assets/images/logo-small.png" width="80" class="img-fluid" alt="Logo"/>
        </div>
      }
      <mat-list-item routerLink="profile" class="">
        <div class="icon-container">
          <fa-icon [icon]="icons.profile"></fa-icon>
          @if (isExpanded) {
            <span>Profile</span>
          }
        </div>
      </mat-list-item>
      @if (isExpanded) {
        <span class="fw-medium fst-italic">{{ authResponse?.user?.fullName }}</span>
      }
      <mat-list-item routerLink="logout" class="">
        <div class="icon-container">
          <fa-icon [icon]="icons.logout"></fa-icon>
          @if (isExpanded) {
            <span>Logout</span>
          }
        </div>
      </mat-list-item>
      <mat-divider class="w-100 mt-2 mb-2"></mat-divider>
      <mat-list-item routerLink="home">
        <div class="icon-container">
          <fa-icon [icon]="icons.home"></fa-icon>
          @if (isExpanded) {
            <span>Home</span>
          }
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/home" [disabled]="true" class="disabled-item">
        <div class="icon-container">
          <fa-icon [icon]="icons.partners"></fa-icon>
          @if (isExpanded) {
            <span>Section 1</span>
          }
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/home" [disabled]="true" class="disabled-item">
        <div class="icon-container">
          <fa-icon [icon]="icons.reports"></fa-icon>
          @if (isExpanded) {
            <span>Section 2</span>
          }
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/home" [disabled]="true" class="disabled-item">
        <div class="icon-container">
          <fa-icon [icon]="icons.search"></fa-icon>
          @if (isExpanded) {
            <span>Section 3</span>
          }
        </div>
      </mat-list-item>
      <mat-divider class="w-100 mb-2 mt-3"></mat-divider>
      @if (isExpanded && isAdmin) {
        <h2 class="mt-1 mb-0 p-0">Admin</h2>
      }
      @if (isAdmin) {
        <mat-list-item routerLink="admin/users">
          <div class="icon-container">
            <fa-icon [icon]="icons.users"></fa-icon>
            @if (isExpanded) {
              <span>Users</span>
            }
          </div>
        </mat-list-item>
      }
    </mat-nav-list>
    <button mat-stroked-button color="primary" class="expand-button" (click)="toggleSidebar()">
      @if (isExpanded) {
        <fa-icon [icon]="icons.left"></fa-icon>
      }
      @if (isExpanded) {
        <fa-icon [icon]="icons.left"></fa-icon>
      }
      @if (!isExpanded) {
        <fa-icon [icon]="icons.right"></fa-icon>
      }
      @if (!isExpanded) {
        <fa-icon [icon]="icons.right"></fa-icon>
      }
    </button>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="!isLoggedIn ? 'content-closed'
                       : !sidenav.opened ? 'content-closed'
                       : isExpanded ? 'content-expanded'
                       : 'content-collpased'">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


