<div class="mt-3 mb-4" >
  <div *ngIf="!isVerified" [formGroup]="verifyAuthenticatorForm">
    <h3>Configure Authenticator App</h3>
    <p>To use an authenticator app complete the following steps:</p>
    <p>1. Download a two-factor app like Microsoft Authenticator for <a href="">Android</a> and <a href="">IOS</a> or Google Authenticator for <a href="">Android</a> and <a href="">IOS.</a></p>
    <p>2. Scan the QR code or enter this key <kbd>{{ sharedKey }}</kbd> into your two factor authenticator app.</p>
    <div *ngIf="authenticatorUri">
      <qrcode [qrdata]="authenticatorUri" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <p>3. Once you have scanned the QR code above, your two factor authenticator app will provide you with a unique code. Enter the code in the box below.</p>

    <div>
      <mat-error *ngIf="errorMessage" class="mb-2">{{ errorMessage }}</mat-error>
    </div>

    <mat-form-field class="w-50 mt-2">
      <mat-label>Verification code</mat-label>
      <input matInput formControlName="code" required mask="000 000" (keyup.enter)="verifyCode()">
    </mat-form-field>
    <p></p>
    <div class="d-flex mt-5">
      <button *ngIf="showBack" mat-raised-button class="w-25 me-2 bg-light" (click)="back()">Back</button>
      <button mat-raised-button color="primary" class="w-75" (click)="verifyCode()">Verify</button>
    </div>
  </div>
  <div *ngIf="isVerified">
    <h3>Your authenticator app has been configured</h3>
    <app-recovery-codes-list *ngIf="recoveryCodes" [recoveryCodes]="recoveryCodes"></app-recovery-codes-list>
  </div>
</div>
