<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <mat-card appearance="outlined" class="text-center">
      <mat-card-content>
        <div class="row pt-5 pb-5">
          <div class="col-md-5">
            <img src="assets/images/logo-small.png" alt="Logo" class="logo">
          </div>
          <div class="col-md-7">
            <!-- Center the title and subtitle -->
            <div class="text-center">
              <mat-card-title class="pb-4 fw-bold fs-4">Password Reset Request Sent</mat-card-title>
              <mat-card-subtitle>Follow the link in your email to reset your password</mat-card-subtitle>
            </div>            
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

