
<div class="m-3 col-7">
  <h2>Profile</h2>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="icons.personal" class="me-2"></fa-icon>
        Personal
      </ng-template>      
      <app-profile-personal-info></app-profile-personal-info>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="icons.security" class="me-2"></fa-icon>
        Password and Security
      </ng-template>      
      <app-profile-security-info></app-profile-security-info>
    </mat-tab>

  </mat-tab-group>
</div>
