<form [formGroup]="passwordUpdateForm">
  <!-- Password fields -->
  <div class="col-xl-7 col-lg-6 col-md-8 ">
    <div class="mt-3">
      <mat-form-field class="w-100">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" formControlName="currentPassword" required autocomplete="on">
        @if (currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)) {
          <mat-error class="mb-2">
            Current password is required
          </mat-error>
        }
      </mat-form-field>
    </div>
    <app-password-fields
      newPasswordLabel="New Password"
      requiredErrorMessage="New password is required"
      fieldWidthClass="w-100"
      [autofocusNewPassword]="true"
      [centered]="false"
      (confirmPasswordEnter)="onSubmit()">
    </app-password-fields>
    <!-- Cancel and submit buttons -->
    <div>
      <button mat-stroked-button color="warn" class="w-50 mt-3" (click)="onCancel()">
        <fa-icon [icon]="icons.cancel"></fa-icon>
        Cancel
      </button>
      <button mat-stroked-button color="primary" class="w-50 mt-3" (click)="onSubmit()">
        <fa-icon [icon]="icons.save"></fa-icon>
        Update
      </button>
    </div>
  </div>
</form>

