<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <mat-card class="text-center">
      <mat-card-content>
        <form [formGroup]="registerForm">
          <div class="row pt-5 pb-5">
            <div class="col-lg-6">
              <img src="assets/images/logo-small.png" alt="Logo" class="logo">
            </div>
            <div class="col-lg-6">              
              <div class="text-center">
                <mat-card-title class="pb-4 fw-bold fs-2">Register</mat-card-title>                
              </div>
                            
              <div *ngIf="!isComplete">
                <div>
                  <mat-error *ngIf="isInvalidAttempt" class="mb-2">{{ errorMessage }}</mat-error>
                </div>

                <div class="mt-2">
                  <mat-form-field class="w-75">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="jdeux@example.com" formControlName="email" required autofocus autocomplete="on">
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" class="mb-2">
                      A valid email is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="mt-2">
                  <mat-form-field class="w-75">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="newPassword" required type="password" />
                    <mat-error *ngIf="!requiredValid && (newPassword.dirty || newPassword.touched)" class="mb-2">
                      Password is required
                    </mat-error>
                  </mat-form-field>

                  <div *ngIf="requiredValid" class="mt-3 d-flex justify-content-center">
                    <div class="text-start">
                      <div [ngClass]="{ 'text-success': minLengthValid, 'text-danger' : !minLengthValid }">
                        <fa-icon [icon]="icons.invalid" *ngIf="!minLengthValid" class="me-2"></fa-icon>
                        <fa-icon [icon]="icons.valid" *ngIf="minLengthValid" class="me-2"></fa-icon>
                        Must be at least 8 characters long
                      </div>
                      <div [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger' : !requiresDigitValid }">
                        <fa-icon [icon]="icons.invalid" *ngIf="!requiresDigitValid" class="me-2"></fa-icon>
                        <fa-icon [icon]="icons.valid" *ngIf="requiresDigitValid" class="me-2"></fa-icon>
                        Must contain at least 1 number
                      </div>
                      <div [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger' : !requiresUppercaseValid }">
                        <fa-icon [icon]="icons.invalid" *ngIf="!requiresUppercaseValid" class="me-2"></fa-icon>
                        <fa-icon [icon]="icons.valid" *ngIf="requiresUppercaseValid" class="me-2"></fa-icon>
                        Must contain at least 1 uppercase character
                      </div>
                      <div [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger' : !requiresLowercaseValid }">
                        <fa-icon [icon]="icons.invalid" *ngIf="!requiresLowercaseValid" class="me-2"></fa-icon>
                        <fa-icon [icon]="icons.valid" *ngIf="requiresLowercaseValid" class="me-2"></fa-icon>
                        Must contain at least 1 lowercase character
                      </div>
                      <div [ngClass]="{ 'text-success': requiresSpecialCharsValid, 'text-danger' : !requiresSpecialCharsValid }">
                        <fa-icon [icon]="icons.invalid" *ngIf="!requiresSpecialCharsValid" class="me-2"></fa-icon>
                        <fa-icon [icon]="icons.valid" *ngIf="requiresSpecialCharsValid" class="me-2"></fa-icon>
                        Must contain at least 1 special character
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <mat-form-field class="w-75">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" required type="password" (keyup.enter)="onRegister()" />
                    <mat-error *ngIf="confirmPassword?.errors?.required && (confirmPassword.dirty || confirmPassword.touched)" class="mb-1">
                      Confirm Password is required
                    </mat-error>

                  </mat-form-field>
                  <mat-error *ngIf="!passwordsMatchValid">Passwords do not match</mat-error>
                </div>
                <p></p>
                <button mat-raised-button color="primary" class="w-75" (click)="onRegister()">Register</button>
              </div>

              <div *ngIf="isComplete">
                <p>You've been registered!. Continue to <a [routerLink]="['/login']">login</a></p>
              </div>

            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
