<div class="mt-4">
  <form [formGroup]="login2FaForm">

    <mat-form-field class="w-75">
      <mat-label>Verification Code</mat-label>
      <input matInput #twoFaCodeInput formControlName="twoFaCode" required mask="000 000" (keyup.enter)="login2Fa()">
      @if (twoFaCode.invalid && (twoFaCode.dirty || twoFaCode.touched)) {
        <mat-error class="mb-2">
          Invalid 2FA code
        </mat-error>
      }
    </mat-form-field>
  </form>

  <div class="mt-3 d-flex justify-content-end w-75 mx-auto">
    <a class="text-primary fw-bold text-decoration-none cursor-pointer" role="button" tabindex="0" (click)="resendCode()" (keyup.enter)="resendCode()">Resend verification code</a>
  </div>

</div>
<div class="mt-4">
  <button mat-raised-button color="primary" class="w-75" (click)="login2Fa()">Log In</button>
</div>

