
<div class="m-3">
  <h2>Profile</h2>
  @if (user) {
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="icons.personal" class="me-2"></fa-icon>
          Personal
        </ng-template>
        <app-profile-personal-info [user]="user"></app-profile-personal-info>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="icons.security" class="me-2"></fa-icon>
          Password and Security
        </ng-template>
        <app-profile-security-info [user]="user"></app-profile-security-info>
      </mat-tab>

    </mat-tab-group>
  }
  @if (loadError) {
    <p class="text-danger">Your profile could not be loaded. Please refresh the page to try again.</p>
  }
</div>
