<div class="h-50 d-flex align-items-center justify-content-center">
  <div class="col-lg-4 col-9">
    <mat-card class="mx-3">
      <mat-card-title class="mb-3">Logout</mat-card-title>
      <mat-card-subtitle class="mb-4">Are you sure you want to logout?</mat-card-subtitle>
      <mat-card-content>
        <div class="d-flex">
          <button mat-raised-button color="" class="w-50 me-2 bg-light" (click)="cancel()">Cancel</button>
          <button mat-raised-button color="warn" class="w-50 ms-2 me-2" (click)="logout()">Logout</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
