<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <mat-card class="text-center">
      <mat-card-content>
        <div class="row pt-5 pb-5">
          <div class="col-md-6">
            <img src="assets/images/logo-small.png" alt="Logo" class="logo">
          </div>
          <div class="col-md-6">
            <!-- Center the title and subtitle -->
            <div class="text-center">
              <mat-card-title class="pb-3 fw-bold fs-3">Email Confirmation</mat-card-title>
              <mat-card-subtitle class="fs-5">Your email is being verified.</mat-card-subtitle>
            </div>            
            <p *ngIf="!isConfirmed">If you are not redirected momentarily please try the link again or request a new confirmation email from your administrator</p>
            <p *ngIf="isConfirmed">Your email has been confirmed. Continue to <a [routerLink]="['/login']">login</a></p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
